<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <img src="/secrets of Dumbledore.jpg" alt="logo" width="200px" height="200px">  
    <h2>Coffee Junkie</h2>

    {% include 'navbar.html' %}
   
    <img src="/secrets of Dumbledore.jpg" alt="logo" width="100%" height="1000px">

    <h1>About Us</h1>
    <div>MY</div>
    <div>NAME</div>
    <div>IS</div>
    <div>BBOSA</div>
    <div>VINCENT</div>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, et? Molestiae sequi blanditiis dolorum et omnis vel quia magni fugit perspiciatis sint illo perferendis modi nisi, distinctio corrupti esse assumenda natus illum quos. Culpa ipsum est tempora, ipsa commodi quibusdam possimus. Rem vitae fugiat eos quaerat, sint culpa repellat.
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos nisi, ea sapiente illo explicabo cumque vel esse et sit, dolor, magni libero dolorum error. Sint cumque necessitatibus placeat dignissimos doloribus nisi perspiciatis pariatur eos sunt. Minima, ducimus? Quos odio a laudantium voluptatum rerum aliquam perspiciatis voluptate cupiditate, perferendis molestias, error mollitia ad quis ullam enim quasi hic quo officia! Non optio dolore praesentium temporibus minus aliquam, quae id laudantium libero.
    <br>
    <br>
    <br>
    <br>
    copyright &copy; 2019
    <br>
    <br>
    <a href="#top">BACK TO THE TOP</a>
</body>
</html>