<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Coffee Junkie</title>
</head>
<body>
    <div class="navbar"></div>
    <div></div>

    <img src="/secrets of Dumbledore.jpg" alt="logo" width="200px" height="200px" id="top">  
    <h3>Coffee Junkie</h3>

    {%include 'navbar.html'%}
   
    <img src="./coffeebeans.jpg" alt="coffee beans" width="100%">
    <button onclick=func()>Fade</button>

    <h1>Featured Products</h1>
    <br>
    <h3>House Blend Coffee</h3>
    <img src="/coffee.jpg" alt="Coffee" width="700px" height="500px">
    <p style="width: 50%">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam culpa in cupiditate sunt excepturi quos voluptatibus, officiis minus nulla repudiandae tempora aut iure quis esse voluptates incidunt! Molestias, atque minus?</p>
    <a href="#" target="_blank">Details</a>  

    <h3>French Roast</h3>
    <img src="/coffee.jpg" alt="French Roast" width="700px" height="500px">
    <p style="width: 50%">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam culpa in cupiditate sunt excepturi quos voluptatibus, officiis minus nulla repudiandae tempora aut iure quis esse voluptates incidunt! Molestias, atque minus?</p>
    <a href="#" target="_blank">Details</a>  

    <h3>Columbian Roast</h3>
    <img src="/coffee.jpg" alt="logo" width="700px" height="500px">
    <p style="width: 50%">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam culpa in cupiditate sunt excepturi quos voluptatibus, officiis minus nulla repudiandae tempora aut iure quis esse voluptates incidunt! Molestias, atque minus?</p>
    <a href="#" target="_blank">Details</a>
    <br>
    <br>
    <br>
    <br>
    copyright &copy; 2022
    <br>
    <br>
    <a href="#top">BACK TO THE TOP</a>
</body>
<script src="jquery-3.6.0.js"></script>
<script src="javascript.js"></script>

</html>